.form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 1.8rem;

  h1 {
    text-align: center;
    padding: 0 0 30px;
  }
  .form__base {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    .form__text {
      padding: 10px 0 10px 0;
    }
    .form__button {
      background-color: green;
      width: 12rem;
      height: 3rem;
      border-radius: 20px;
      color: white;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
