.centro {
  margin: 0 50px;
  height: 300px;

  background: {
    image : url("backgroundImagen.png");
    size : cover;
    position: center;
    color: rgba(0, 0, 0, 0.459);
    blend-mode:  soft-light;
  };
  border-radius: 10px;
  // Message Center
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title{
    color: white;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    // Animacion Cuando se carga la pagina
    animation: title 1s;
  }
  .description{
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
    @keyframes title {
      0% {
        opacity: 0.20;
      }
      100% {
        opacity: 1;
      }
    }

  p {
    color: white;
  }
}
