.barra__content {
  background-color: #55b268;
  text-align: center;
  color: #ffffff;
  padding: 12px;
  padding: 10px;
  &__message{
    font-size: 18px;
    font-weight: 400;
    animation: message 1s;
  }
  @keyframes message {
    0% {
      opacity: 0.20;
    }
    100% {
      opacity: 1;
    }
  }
}
